  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  .contact{
    font-family: Times New Roman,Times,serif;
  }
  .linkc a{
    color: white;
    text-decoration:none;
    font-family: Times New Roman,Times,serif;
    transition: 0.5 ease;
  }
  .linkc a:hover{
    color: #fcba03;
  }
  .social-media ul{
    display: inline-block;
  }
  .social-media ul li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  .social-media ul li a{
    font-size: 20px;
    color: white;
    letter-spacing: 0.1em;
    -moz-transform: all 0.5 ease-in-out 0s;
    -webkit-transform: all 0.5 ease-in-out 0s;
    -ms-transform: all 0.5 ease-in-out 0s;
    -o-transform: all 0.5 ease-in-out 0s;
    transition: all 0.5 ease-in-out 0s;
  }
  .social-media ul li a:hover{
    color: #fcba03
  }
  input[type=email]{
    height: 32px;
    border-radius: 3px;
    width: 180px;
    float: left;
  }
  input[type=email]::placeholder{
    color: #999;
  }
  button{
    transition: all 0.5 ease-in-out;
  }
  #footer{
    background-color:#1C2833;
    color: white;
  }
