
/*.topnav {
  overflow: hidden;
  background-color: blue;
  box-shadow: 1px 10px 5px black;
 background-color:   #1E90FF;
  position: fixed;
  width:100%;
  z-index: 9;
}*/

#headerBar a {
  text-decoration: none;
  /*font-size: 17px;*/
  /*border-radius: 2px;*/
  /*border-radius: 5%;*/
   border-right: 2px solid black;
}

#headerBar a:hover {
  background-color: #ddd;
  color: black;
  height: auto;
  box-shadow: inset 400px 0 0 yellow;
  transition: all 0.5s ease;
}

#headerBar a.active {
  background-color: black;
  color: white;
}
#champ_search{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /*display: none;*/
  /*z-index: -3;*/
  border: 1px solid;
  padding: 8px;
  width: 200px;
}
.search-container{
  float: right;
}
body {font-family: "Lato", sans-serif}
.mySlides {display: none;}
  #descriptivePartner{
    position: absolute;
    top: 30%;
    left: 15%;
  }
#SubsMenu_{
   box-shadow: 10px 10px 5px #aaaaaa;
   box-shadow: inset 400px 0 0 white;
}
#fermerSubMenu{
  /*position: relative;*/
  margin-top: 30%;
  margin-bottom: 0px;
}
.colorPartner{
  background-color: #e67e22;
}