.snip1374 {
  position: relative;
  /*overflow: hidden;*/
  /*margin: 10px;*/
  /*min-width: 255px;*/
  /*max-width: 315px;*/
  /*width: 100%;*/
  /*box-shadow: 0 0 5px rgba(1, 0, 0, 0.15);*/
}
.snip1374 img {
  /*max-width: 100%;*/
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.snip1374:hover img,
.snip1374.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*.w3-third{
  border: 4px solid yellow;
}*/