
html,body,h1,h2,h3,h4,h6 {font-family: "Roboto", sans-serif;}
/*.w3-sidebar {
  z-index: 3;
  top: 100px;
  bottom: 0;
  height: inherit;
}*/
.w3-bar-block {
  height:400px;
  background-color:#95afc0;
}
#mySidebar{
  top: 90px;
  /*position: fixed;*/
  /*position: sticky;*/
  /*z-index: -1;*/
  background-color:#95afc0;
  width: 270px;
}
#mySidebar h5:hover b{
   transition: all 0s ease;
   text-decoration: underline;
   text-underline: 2px;
   text-decoration-color: yellow;
   cursor: pointer;
   border-bottom: 3px;

}
#fonctionnalites{
  text-decoration: none;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
}
#partners{
  text-decoration: none;  
}
#header{
  text-decoration: none;  
}

/*form.searchBar  input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;

padding: 10px;
  font-size: 17px;
 float: left;
  width: 80%;

  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;*/
  /*float: right;*/
  /*width: 100%;*/
}

/*form.searchBar button {
  float: left;
  width: 20%;
  padding: 13px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;

}
form.searchBar button:hover {
  background: #0b7dda;
}

form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}*/

.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}
#contentSearch{
  margin-left: 100px;
  margin-top: 5px;
  float: left;

}
.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;

}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 167px) {
    .chat-search-box {
        display: none;
    }
}

/**************************************************************************/
.snip1374 {
  position: relative;
  overflow: hidden;
  margin: 0px;
  min-width: 155px;
  max-width: 215px;
  max-height: 215px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1374 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.snip1374:hover img,
.snip1374.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}