
html,body,h1,h2,h3,h4,h6 {font-family: "Roboto", sans-serif;}
/*.w3-sidebar {
  z-index: 3;
  top: 100px;
  bottom: 0;
  height: inherit;
}*/
.w3-bar-block {
  /*bottom: 0;*/
  height:400px;
  background-color:#95afc0;
}
#mySidebar{
  top: 90px;
  position: fixed;
  /*position: sticky;*/
  /*z-index: -1;*/
  background-color:#95afc0;
  /*width: 80%;*/
}
#mySidebar h5:hover b{
   transition: all 0s ease;
   text-decoration: underline;
   text-underline: 2px;
   text-decoration-color: yellow;
   cursor: pointer;
   border-bottom: 3px;

}

#partners{
  text-decoration: none;  
}
#header{
  text-decoration: none;  
}

form.searchBar input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  z-index: 1000;
  display: none;
  color: black;
  border: apx solid black;
}

form.searchBar button {
  float: left;
  width: 20%;
  padding: 10px;
  background:grey;
  color: white;
  font-size: 17px;
  /*border: 1px solid grey;*/
  border: none;
  cursor: pointer;
}

form.searchBar button:hover {
  background: yellow;
}

form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}
/**************************************************************************/
.snip1374 {
  position: relative;
  overflow: hidden;
  margin: 0px;
  /*min-width: 255px;*/
  /*max-width: 315px;*/
  /*max-height: 315px;*/
  /*width: 100%;*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1374 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.snip1374:hover img,
.snip1374.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
